
#howdo-post-table #howdo-table-center{ 
	width=960px; 
	style=table-layout:fixed; 
	word-break:break-all;	
	text-align: center;
	}
#howdo-data {text-align: center; font-size:12px} 
.howdo-tableDiv ,th{
	width="100%"; 
	style=table-layout:fixed; 
	word-break:break-all;	
	text-align: center;
	font-size : 14px;
}
#sendTitle {
	text-align: center;
	font-size: 12px;
	background-color: #CEEBFF;
}
#receiveTitle {
	text-align: center;
	font-size: 12px;
	background-color: #FFFFD6;
}
#textTitle{
	text-align: center;
	font-size: 12px;
}
/* 
#jhDiv{
	border-bottom: 1px solid rgba(0, 0, 0, 0.09);
	border-right: 1px solid rgba(0, 0, 0, 0.09);
	border-left: 1px solid rgba(0, 0, 0, 0.09);
} */
.wrap-loading{ /*화면 전체를 어둡게 합니다.*/
	z-index : 9999;
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background: rgba(0,0,0,0.2); /*not in ie */
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#20000000', endColorstr='#20000000');    /* ie */
    
}
.wrap-loading div{ /*로딩 이미지*/
    position: fixed;
    top:50%;
    left:50%;
    margin-left: -21px;
    margin-top: -21px;
}
.display-none{ /*감추기*/
    display:none;
}