<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jbros.webro.mapper.IMainMapper">

    <select id="selectUserCount" resultType="int">
		SELECT COUNT(A.id)
		FROM test_ajax_tb A	        	
    </select>
    
    <select id="selectUser" parameterType="String" resultType="userModel">
        SELECT 
        	 A.id AS id,
        	 A.pass AS password,
        	 A.name AS name,
        	 A.phone AS phone,
        	 A.addr AS address
		FROM test_ajax_tb AS A
		WHERE id=#{id}
    </select>
    
    <select id="authUser" parameterType="Map" resultType="int">
    	select /* authUser */ 
    		count(*)
    	from account
    	where id = #{id}
    	and passwd = #{pass}
    </select>
    
    <select id="getUserInfo" parameterType="String" resultType="Map">
    	select /* getUserInfo */
    		id, name, email, phone, birth, user_id
    	from account
    	where id = #{id}
    </select>
    
</mapper>